<section class="plan-details mt-5 mb-5 ml-5 mr-5">
  <div class="row ">
    <div class="col-1 ">
      <img
        src="../../../../assets/img/table.png"
        class="life-insurance"
        alt="life-insurance"
      />
    </div>
    <div class="col-11">
      <table class="table table-life text-center">
        <thead>
          <tr>
            <th scope="col" class="head">Company</th>
            <th scope="col" class="head">Libano-Suisse</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Natural death</td>
            <td>100,000</td>
          </tr>
          <tr>
            <td>Death due to accident</td>
            <td>100,000</td>
          </tr>
          <tr>
            <td>TPD due to accident</td>
            <td>100,000</td>
          </tr>
          <tr>
            <td>TPD due to sickness</td>
            <td>100,000</td>
          </tr>
          <tr>
            <td>PPD due to accident the insured amount Life</td>
            <td>% of the insured amount Life Insurance</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="space"></div>
    </div>
  </div>
  <div class="row ">
    <div class="col-1 ">
      <img
        src="../../../../assets/img/table2.png"
        class="medical-insurance"
        alt="medical-insurance"
      />
    </div>
    <div class="col-11">
      <table class="table table-medical text-center">
        <thead>
          <tr>
            <td scope="col">Annual Ceiling</td>
            <td scope="col">100,000</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Natural death</td>
            <td>100,000</td>
          </tr>
          <tr>
            <td>Network</td>
            <td>Network A</td>
          </tr>
          <tr>
            <td>Accommodation</td>
            <td>Single room</td>
          </tr>
          <tr>
            <td class="head">IN-PATIENT Benefits</td>
            <td class="head">Fully Covered</td>
          </tr>
          <tr>
            <td>Intensive Care unit</td>
            <td>Fully Covered up to 14 days</td>
          </tr>
          <tr>
            <td>Ambulance</td>
            <td>Covered up to 1000</td>
          </tr>
          <tr>
            <td>Prosthesis & Stents</td>
            <td>Fully Covered</td>
          </tr>
          <tr>
            <td>IN-PATIENT Benefits Hepatitis B & C (in & out)</td>
            <td>Covered</td>
          </tr>
          <tr>
            <td>Outside network</td>
            <td>Covered 80 % as per Cleopatra Hospital</td>
          </tr>
          <tr>
            <td class="head">OUTPATIENT BENEFITS</td>
            <td class="head">Covered</td>
          </tr>
          <tr>
            <td>Physiotherapy</td>
            <td>Covered</td>
          </tr>
          <tr>
            <td>Laboratory, Radiology, and out-patient procedures</td>
            <td>100% Covered</td>
          </tr>
          <tr>
            <td>Out-patient prescribed medication</td>
            <td>80% Covered</td>
          </tr>
          <tr>
            <td>Reimbursement (Out)</td>
            <td>Covered 80% … DV up to 150 EGP</td>
          </tr>
          <tr>
            <td>Dental</td>
            <td>Covered up to 700 for 10% of the members</td>
          </tr>
          <tr>
            <td>Optical</td>
            <td>Covered up to 500 for 10% of the members</td>
          </tr>
          <tr>
            <td>Pre-existing</td>
            <td>Covered up to EGP 10000 per member</td>
          </tr>
          <tr>
            <td>Chronic Disease</td>
            <td>Covered up to EGP 10000 per member</td>
          </tr>
          <tr>
            <td>Critical Acute Disease (If it is not pre- existing)</td>
            <td>Fully Covered</td>
          </tr>
          <tr>
            <td>Maternity</td>
            <td>Covered up to 5000 EGP</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="btns">
  <div class="row mt-5 text-right mr-5">
    <div class="col">
      <button class="btn btn-primary mr-2" (click)="printPlan()">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Print Plan Details
      </button>
      <button class="btn btn-primary" routerLink="/">Request Call Back</button>
    </div>
  </div>
</section>
