<footer>
  <section class="container">
    <div class="row mt-5 mb-5 text-center">
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <img src="../../../assets/img/logo_transparent.png" class="logo" />
      </div>
      <div class=" col-xs-12 col-sm-12 col-lg-8">
        <div class="row ">
          <div class="col"><a routerLink="/get-quote">Get Quote</a></div>
          <div class="col"><a routerLink="/our-services">Take a Survey</a></div>
          <div class="col"><a routerLink="/">Home</a></div>
        </div>
        <div class="row mt-3">
          <div class="col"><a routerLink="/companies">Companies Directory</a></div>
          <div class="col"><a routerLink="/plan-details">FAQ</a></div>
          <div class="col"><a routerLink="/our-services">About Us</a></div>
        </div>
        <div class="row mt-3">
          <div class="col"><a routerLink="/insurance-health">Be a Partner</a></div>
          <div class="col"><a routerLink="/get-quote">Advertise With Us</a></div>
          <div class="col"><a href="#"></a></div>
        </div>
        <div class="row mt-3">
          <div class="col"><a routerLink="/contact">Contact</a></div>
          <div class="col"><a routerLink="/get-quote">Work With Namelo</a></div>
          <div class="col">
            <a href="https://www.facebook.com/" target="_blank" ><i class="fa fa-facebook  mb-3 mr-3 pl-2 pb-0"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin  mb-3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="row mt-5">
    <div class="col foot text-center">
      <p class="mt-2 mg-2">
        &copy;Copyright By Ahmed Yehia in 2019 All Rights Reserved
      </p>
    </div>
  </section>
</footer>
