<!-- Start Header -->
<header>
  <!-- Navbar -->
  <section class="row ">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <img src="../../../assets/img/logo_transparent.png" />
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-2 mt-3" id="navbarNav">
          <ul class="navbar-nav ml-3">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/companies">Companies</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Benefits
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" routerLink="/insurance-benefits"
                  >Insurance Benefits</a
                >
                <a class="dropdown-item" routerLink="/insurance-health"
                  >Insurance Health</a
                >
                <a class="dropdown-item" routerLink="/our-services"
                  >Our Services</a
                >
                <a class="dropdown-item" routerLink="/message"
                  >Clients Messages</a
                >
                <a class="dropdown-item" routerLink="/plan-details"
                  >Plan Details</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/get-quote">Get Quote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
          </ul>
          <button
            class="btn btn-primary mr-3 mt-3 ml-2 mb-1 pl-4 pr-4 pt-1 pb-1"
            data-toggle="modal"
            data-target="#exampleModalLong"
          >
            Try Namelo
          </button>
          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModalLong"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLongTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <img src="../../../assets/img/testimonial.jpeg" />
                  <p class="modal-text ml-2">
                    Hi there, Let us help you to compare and get the best
                    insurance benefits and prices
                  </p>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row mb-5">
                    <div class="col">
                      <div class="row text-center mt-3 ">
                        <div class="col-6 offset-3">
                          <h2>Customize Your Health Insurance</h2>
                        </div>
                      </div>
                      <div class="row text-center">
                        <div class="col-6 offset-3">
                          <button class=" btn btn-secondary" routerLink="/insurance-health">
                            Individual Insurance
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-5 mt-3">
                    <div class="col">
                      <div class="row text-center mt-3 ">
                        <div class="col-6 offset-3">
                          <h2>Life & Disability Insurance</h2>
                        </div>
                      </div>
                      <div class="row text-center">
                        <div class="col-6 offset-3">
                            <button class=" btn btn-secondary" routerLink="/insurance-benefits">
                              Insurance Benefits
                            </button>
                      
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3 mb-5">
                    <div class="col">
                      <div class="row text-center mt-3 ">
                        <div class="col-6 offset-3">
                          <h2>Contact Us & Send Message </h2>
                        </div>
                      </div>
                      <div class="row text-center">
                        <div class="col-6 offset-3">
                          <button class=" btn btn-secondary" routerLink="/contact">
                            Contact US 
                          </button>
                       
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="https://www.facebook.com/" target="_blank" 
            ><i class="fa fa-facebook mt-3 mb-1 mr-3 pl-2 pb-0" ></i
          ></a>
          <a href="https://www.linkedin.com/" target="_blank" 
          ><i class="fa fa-linkedin mt-3 mb-1"></i></a>
        </div>
      </nav>
    </div>
  </section>
</header>
