<section class="our-services mt-5 mb-5 borderBottom">
  <div class="row mt-5 mb-3">
    <div class="col-xs-8 col-md-6">
      <h3 class="header">OUR SERVICES</h3>
      <p class="text">
        Wisely helps you to get the right benefits, from the best insurance
        companies, at the right price, and in the event of a claim will be right
        there at your side.
      </p>
    </div>
    <div class="col-xs-4 col-md-6">
      <img
        src="../../../../assets/img/big-logo.svg"
        alt="Wisely"
        width="500"
        height="300"
      />
    </div>
  </div>
  <div class="row mt-5 text-center back-main">
    <div class="col borderLeft">
      <i class="fa fa-user-circle-o icon"></i>
      <h4 class="">Medical Insurance</h4>
    </div>
    <div class="col borderLeft">
      <i class="fa fa-american-sign-language-interpreting icon"></i>
      <h4 class="">Life & Disability</h4>
    </div>
    <div class="col borderLeft">
      <i class="fa fa-file-archive-o icon"></i>
      <h4 class="">General Insurance</h4>
    </div>
  </div>
  <div class="row mt-5 text-center mb-5">
    <div class="col">
      <p>
        Medical insurance is a key employee retention tool, a recent study by
        Gallup stated that nearly 61% of employees would leave to an employer
        with quality medical insurance.
      </p>
      <button class="btn btn-primary">View Medical Plans</button>
    </div>
    <div class="col">
      <p>
        Medical insurance is a key employee retention tool, a recent study by
        Gallup stated that nearly 61% of employees would leave to an employer
        with quality medical insurance.
      </p>
      <button class="btn btn-primary">View Life & Disability Plans</button>
    </div>
    <div class="col">
      <p>
        Medical insurance is a key employee retention tool, a recent study by
        Gallup stated that nearly 61% of employees would leave to an employer
        with quality medical insurance.
      </p>
      <button class="btn btn-primary">Request a Quote</button>
    </div>
  </div>
  <div class="row mt-5 text-center mb-5">
    <div class="col-4">
      <p>
        You can instantly choose from more than 12 plans in less than 1 minute,
        or you can customized your own medical benefits.
      </p>
      <button class="btn btn-primary">Customize Your Own Plan</button>
    </div>
    <div class="col-4">
      <p>
        You can instantly choose from more than 6 plans in less than 1 minute,
        or you can customized your own life & disability covers.
      </p>
      <button class="btn btn-primary">Customize Your Own Plan</button>
    </div>
  </div>
  <div class="row mt-5 text-center back-main">
    <div class="col borderLeft">
      <i class="fa fa-strikethrough icon"></i>
      <h4 class="">MESSION</h4>
      <p class="services-text">
        Wisely Insure provides integrated risk management, insurance
        consultancy, brokerage, and management services. We are your one stop
        shop for all your insurance needs.
      </p>
    </div>
    <div class="col borderLeft">
      <i class="fa fa-ioxhost icon"></i>
      <h4 class="">VISION</h4>
      <p class="services-text">
        To be precise over 30 insurance companies, 55 brokerage companies, and
        more nearly 8,000 individual brokers in Egypt are all claiming to be the
        best.
      </p>
    </div>
    <div class="col borderLeft">
      <i class="fa fa-database icon"></i>
      <h4 class="">VALUES</h4>
      <p class="services-text">
        Your insurance with Wisely Insure is simply more effective, and all this
        at ZERO cost to our customers because we are paid by insurance
        companies.
      </p>
    </div>
  </div>
  <div class="row mt-5 mb-5 text-center">
    <div class="col-6 offset-3">
      <h3 class="header">TESTIMONIALS</h3>
      <img
        src="../../../../assets/img/testimonial.jpeg"
        alt="Wisely"
        class="testimonial mt-3 mb-3"
      />
      <p class="mt-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</section>
