<section class="insurance-health mt-5 mb-5 borderBottom">
  <div class="row text-center">
    <div class="col-8 offset-2">
      <h3 class="header">
        SAVE TIME & LET US FIND THE RIGHT HEALTH INSURANCE OPTIONS FOR YOUR
        COMPANY
      </h3>
      <p class="text">
        We work with companies of all sizes to find the Right group of policies
        for your and your employees
      </p>
    </div>
  </div>
  <div class="row mt-5 mb-5 ">
    <div class="col">
      <div class="d-flex justify-content-around">
        <span class="bullet mr-5" (click)="moveToInsurance()">1</span>
        <span class="bullet mr-5 ml-5 active ">2</span>
        <span class="bullet ml-5 " (click)="moveToPlanCode()">3</span>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5 text-center">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">AGE GROUP</th>
            <th scope="col">0-25</th>
            <th scope="col">26-35</th>
            <th scope="col">36-40</th>
            <th scope="col">41-45</th>
            <th scope="col">46-50</th>
            <th scope="col">51-55</th>
            <th scope="col">56-60</th>
            <th scope="col">61-65</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row ">Insert number of Staff in each age group</th>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3 mb-5 text-center">
    <div class="col-6 offset-3">
      <h6>TOTAL NUMBER OF EMPLOYEES</h6>
      <p>Loading ...</p>
      <button class="btn btn-primary" routerLink="/plan-code">Next</button>
    </div>
  </div>
</section>
