<section class="insurance-health mt-5 mb-5 borderBottom">
  <div class="row text-center">
    <div class="col-8 offset-2">
      <h3 class="header">
        SAVE TIME & LET US FIND THE RIGHT HEALTH INSURANCE OPTIONS FOR YOUR
        COMPANY
      </h3>
      <p class="text">
        We work with companies of all sizes to find the Right group of policies
        for your and your employees
      </p>
    </div>
  </div>
  <div class="row mt-5 mb-5 ">
    <div class="col">
      <div class="d-flex justify-content-around">
        <span class="bullet mr-5" (click)="moveToInsurance()">1</span>
        <span class="bullet mr-5 ml-5" (click)="moveToAgeGroup()">2</span>
        <span class="bullet ml-5 active">3</span>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5 text-center">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Plan Code</th>
            <th scope="col">Annual Ceilling %</th>
            <th scope="col">Network</th>
            <th scope="col">Preexisting & Chronic</th>
            <th scope="col">Maternity</th>
            <th scope="col">Dental</th>
            <th scope="col">Optical</th>
            <th scope="col">Price/Employee</th>
            <th scope="col">Info.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><input type="number" placeholder="%" min="10" max="90" step="10"></td>
            <td>Servers</td>
            <td>Three Years</td>
            <td>Free</td>
            <td>Measure Activities</td>
            <td>FD</td>
            <td>2,000$</td>
            <th scope="row "><a routerLink="/plan-details">View Plan Details</a></th>
          </tr>
          <tr>
            <td>2</td>
            <td><input type="number" placeholder="%" min="10" max="90" step="10"></td>
            <td>Firewalls</td>
            <td>Four Years</td>
            <td>Free</td>
            <td>Improvement Resources</td>
            <td>BR</td>
            <td>3,500$</td>
            <th scope="row "><a routerLink="/plan-details">View Plan Details</a></th>
          </tr>
          <tr>
            <td>3</td>
            <td><input type="number" placeholder="%" min="10" max="90" step="10"></td>
            <td>Bridges</td>
            <td>Five Years</td>
            <td>Free</td>
            <td>Educational Resources</td>
            <td>BA</td>
            <td>4,000$</td>
            <th scope="row "><a routerLink="/plan-details">View Plan Details</a></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3 mb-5 text-center">
    <div class="col">
      <button class="btn btn-primary " routerLink="/plan-details">Submit My Request</button>
      <button class="btn btn-primary ml-2 mr-2" routerLink="/insurance-health">
        Customized Benefits
      </button>
      <button class="btn btn-primary" routerLink="/plan-details">View plan details</button>
    </div>
  </div>
</section>
