<section class="insurane-benefits borderBottom">
  <div class="row mt-5 text-center mb-5">
    <div class="col mt-5 mb-5 ">
      <h3 class="header">
        COMPARE AND GET THE BEST INSURANCE BENEFITS & PRICES FOR YOUR COMPANY
      </h3>
      <p class="text">
        Plans from leading insurance companies With powerful benefits
      </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col mb-5 ">
      <div class="btns">
        <button class="btn btn-primary mt-3" routerLink="/insurance-health">Medical Insurance</button>
        <button class="btn btn-primary mt-3" routerLink="/plan-details">Life & Disability</button>
        <button class="btn btn-primary mt-3" routerLink="/insurance-health">General Insurance</button>
      </div>
    </div>
  </div>
</section>
