<section class="companies borderBottom">
  <div class="row mt-5 text-center mb-5 ">
    <div class="col-6 offset-3">
      <form class="form-group mt-5">
        <label for="Search Companies">Serach Companies</label>
        <select class="form-control">
          <option>By Company</option>
          <option>By Isurance</option>
          <option>By Number</option>
          <option>By Email</option>
        </select>
        <select class="form-control mt-3">
          <option>By Location</option>
          <option>By Isurance</option>
          <option>By Number</option>
          <option>By Email</option>
        </select>
        <select class="form-control mt-3">
          <option>By Type Of Company</option>
          <option>By Isurance</option>
          <option>By Number</option>
          <option>By Email</option>
        </select>
        <button class="btn btn-primary mr-2" routerLink="/">
          View Results
        </button>
        <button class="btn btn-primary " routerLink="/">
          View All Companies
        </button>
      </form>
    </div>
  </div>
</section>
<!-- Heading text -->
<section class="our-features mt-5 mb-2 borderBottom">
  <div class="row mt-5 text-center">
    <div class="col-6 offset-3 mt-5 mb-5">
      <h3>OUR FEATURED PARTNERS</h3>
    </div>
  </div>
  <!-- icon text -->
  <div class="icon">
    <div class="row text-center">
      <div class="col mr-2 icon">
        <img
          src="../../../assets/img/card1.svg"
          class=""
          alt="our-partners"
          width="100"
          height="70"
        />
      </div>
      <div class="col icon">
        <img
          src="../../../assets/img/card2.svg"
          class=""
          alt="our-partners"
          width="100"
          height="70"
        />
      </div>
      <div class="col ml-2 icon">
        <img
          src="../../../assets/img/card3.svg"
          class=""
          alt="our-partners"
          width="100"
          height="70"
        />
      </div>
    </div>
    <div class="row text-center">
      <div class="col ">
        <p class="text-icon ">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
        </p>
        <a routerLink="/">Learn more</a>
      </div>
      <div class="col ">
        <p class="text-icon ">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
        </p>
        <a routerLink="/">Learn more</a>
      </div>
      <div class="col ">
        <p class="text-icon ">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
        </p>
        <a routerLink="/">Learn more</a>
      </div>
    </div>
  </div>
  <!-- icon text -->
  <div class="icon mt-5 mb-5 ">
    <div class="row text-center">
      <div class="col mr-2 icon">
        <img
          src="../../../assets/img/card4.svg"
          class=""
          alt="our-partners"
          width="100"
          height="70"
        />
      </div>
      <div class="col icon">
        <img
          src="../../../assets/img/card5.svg"
          class=""
          alt="our-partners"
          width="100"
          height="70"
        />
      </div>
      <div class="col ml-2 icon">
        <img
          src="../../../assets/img/card6.svg"
          class=""
          alt="our-partners"
          width="100"
          height="70"
        />
      </div>
    </div>
    <div class="row text-center">
      <div class="col ">
        <p class="text-icon ">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
        </p>
        <a routerLink="/">Learn more</a>
      </div>
      <div class="col ">
        <p class="text-icon ">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
        </p>
        <a routerLink="/">Learn more</a>
      </div>
      <div class="col ">
        <p class="text-icon ">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
        </p>
        <a routerLink="/">Learn more</a>
      </div>
    </div>
  </div>
</section>
